@import "bootstrap/dist/css/bootstrap";

.custom-nav {
  padding-left: 0;
  padding-right: 0;
}

.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}
.logo {
  width: auto;
  height: 32px;
}

.results-block {
  display: inline-block;
  margin-bottom: 1rem;
}
